/*POC-Agent-AI-ouvertures-echecs-FFE/frontend/src/app/features/board/board.component.css*/

:host {
  display: block;
  width: 100%;
}

.board {
  width: 520px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chessboard {
  width: 520px;
  height: 520px;
  display: block;
}

button {
  display: block;
  margin-top: 16px;
}
